*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: cyan;
    display: grid;
    place-content: center;
}

.card {
    width: 300px;
    height: auto;
    border-radius: .5em;
    padding: 2em 1.5em;
    box-shadow: 0 2px 10px 0 #0003;
    display: grid;
    place-content: center;
    gap: 1em;
}

input {
    border: none;
    outline: none;
    box-shadow: 0 1px 5px 0 #0003 ;
    background: cyan;
    color: #0009;
    margin: 0 auto;
}

#output {
    text-align: center;
    color: #0009;
    font-weight: 700;
    border: 1px solid green;
}